name: Davi Build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.13.0]
    steps:
      - name: Inject workflow information
        uses: potiuk/get-workflow-origin@v1_3
        id: workflow-run-info
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Cloning contracts
        run: git clone -b v2.0 https://github.com/DXgovernance/dxdao-contracts packages/dxdao-contracts

      - name: Pnpm setup
        uses: pnpm/action-setup@v2
        with:
          version: 7.18.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build dapp
        run: CI=false pnpm run davi:build-graph-client && pnpm run davi:dev

      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.workflow-run-info.outputs.targetCommitSha }}
          path: apps/davi/build/